<div class="card flex w-full h-full">
  <div class="card-body flex items-center justify-center w-full h-full flex-row flex-wrap">
    <div class="flex items-center justify-center w-full h-full">
      <img src="../../assets/logo.png" alt="logo" style="width: auto; height: 300px;">
    </div>
    <div class="flex flex-col justify-center items-center w-full">
      <div class="form-control">
        <label class="label">RUN usuario</label>
        <input type="text" [(ngModel)]="userId" placeholder="11222333-4" class="input input-bordered max-w-xs" />
      </div>
      <div class="form-control">
        <label class="label">Contraseña</label>
        <input type="password" [(ngModel)]="userPassword" placeholder="Ingresa tu contraseña"
          class="input input-bordered max-w-xs" (keyup.enter)="LogIn()" />
      </div>
      <div class="card-actions mt-4 w-full flex items-center justify-center">
        <button class="btn btn-md max-w-xs" (click)="LogIn()">Ingresar</button>
      </div>
    </div>
  </div>
</div>