<app-navbar [userName]="userInfo.data.userName + ' ' + userInfo.data.userLastName" [teacherId]="userId" />
<section class="bg-white dark:bg-gray-900 flex">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex flex-col justify-center items-center">
    <div class="grid gap-40 lg:grid-cols-4 w-full items-center">
      <div class="grid gap-8 lg:col-span-3 lg:grid-cols-2 w-full justify-center">
        <div class="">
          <h2 class="mb-4 text-2xl lg:text-3xl tracking-tight font-bold text-gray-900 dark:text-white">
            Asignaturas</h2>
          <article *ngIf="subjectsForToday.length === 0">
            <h2 class="mb-4 text-2xl lg:text-3xl tracking-tight font-normal text-gray-700 dark:text-white">No existen
              asignaturas para el día de hoy...</h2>
          </article>
          <article *ngFor="let subject of subjectsForToday" class="block w-full cursor-pointer">
            <a (click)="subjectInfo(subject._id)"
              class="block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{subject.nameSubject}}
              </h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{subject.codeSubject}}</p>
            </a>
          </article>
        </div>
      </div>

      <div class="gap-4 flex flex-col w-full">
        <button (click)="getReport()" type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Reporte por asignatura
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
        <button (click)="getSemesterReport()" type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Reporte semestral
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>